{% macro book_cover(book, alt=None) -%}
    {%- set image_title = book.title if book.title else book.name -%}
    {%- set image_alt = alt if alt else image_title -%}
    {% if book.is_physical %}
    <img
        src="{{ url_for('physical.cover', physical_id=book.id, c=book|last_modified) }}"
        alt="{{ image_alt }}"
        loading="lazy"
    />
    {% else %}
    {% set srcset = book|get_cover_srcset %}
    <img
        srcset="{{ srcset }}"
        src="{{ url_for('web.get_cover', book_id=book.id, resolution='og', c=book|last_modified) }}"
        alt="{{ image_alt }}"
        loading="lazy"
    />
    {% endif %}
{%- endmacro %}

{% macro book_url(book) -%}
{%- if book.is_physical -%}{{ url_for('physical.detail', physical_id=book.id) }}{%- else -%}{{ url_for('web.show_book', book_id=book.id) }}{%- endif -%}
{%- endmacro %}

{% macro book_modal(book) -%}
{%- if not book.is_physical and simple == false -%}data-toggle="modal" data-target="#bookDetailsModal" data-remote="false"{%- endif -%}
{%- endmacro %}

{% macro physical_badge(book) -%}
{%- if book.is_physical -%}<span class="badge physical glyphicon glyphicon-duplicate" title="{{ _('Physical book') }}"></span>{%- endif -%}
{%- endmacro %}

{% macro series(series, alt=None) -%}
    {%- set image_alt = alt if alt else image_title -%}
    {% set srcset = series|get_series_srcset %}
    <img
        srcset="{{ srcset }}"
        src="{{ url_for('web.get_series_cover', series_id=series.id, resolution='og', c='day'|cache_timestamp) }}"
        alt="{{ title }}"
        loading="lazy"
    />
{%- endmacro %}
